<header class="header" ng-controller="LangCtrl">
		    <div class="top_bar">
		      <div class="container visible-lg visible-md">
		        <div id="top_rt_bar">
		          <div class="font_ctrl_wrap">
		            <ul>
		              <li class="hidden-xs"><a href="javascript:;"  class="top_bar_links" title="Skip to Main Content">Skip to Main Content</a></li>
		              <li class="hidden-xs"><a href="javascript:;"  class="top_bar_links" title="Screen Reader Access">Screen Reader Access</a></li>
		              <li class="hidden-xs no_bdr"><a href="javascript:;" class="top_bar_links" id="t_sml" title="">A<sup>-</sup></a></li>
		              <li class="hidden-xs no_bdr"><a href="javascript:;" class="top_bar_links" id="t_nrm" title="">A</a></li>
		              <li class="hidden-xs"><a href="javascript:;" class="top_bar_links" id="t_big" title="">A<sup>+</sup></a></li>
		              <li class="hidden-xs no_bdr"><a href="javascript:;" class="top_bar_links" id="t_dark" title="">A</a></li>
		              <li class="hidden-xs"><a href="javascript:;" class="top_bar_links" id="t_light"  title="">A</a></li>
		              <li>
		                <div class="form-inline">
		                  <!-- <select class="form-control input-sm lang-selecbox" 
							        ng-model="langChooseds"  ng-change='selectLanguage(langChoosed.name)'
							        ng-options="option.name for option in options"> 
							        <option value="" selected="selected" disabled>Language</option>
							</select> -->
							<select class="form-control input-sm lang-selecbox" ng-model="productList" ng-change="selectLanguage(productList)" ng-init="productList=selectedLanguage">
	                            <option value="English">English</option>
	                            <option value="Hindi">Hindi</option>
	                        </select>
		                </div>
		              </li>
		            </ul>
		          </div>
		        </div>
		      </div>
		      <div class="container visible-sm visible-xs">
		        <div id="top_rt_bar_mobi">
		          <div class="font_ctrl_wrap">
		            <ul>
		              <li>
		                <div class="form-inline">
		                  <select class="form-control input-sm lang-selecbox" ng-model="productList" ng-change="selectLanguage(productList)" ng-init="productList=selectedLanguage">
	                            <option value="English">English</option>
	                            <option value="Hindi">Hindi</option>
	                        </select>
		                </div>
		              </li>
		            </ul>
		          </div>
		        </div>

		      </div>
		    </div>
		    <div class="logo_header hidden-xs hidden-sm">
		            <div class="container">
		              <div class="row">
		                <div class="col-sm-12 logo_bar">
		                  <div class="logo">
		                    <a ui-sref="home"><img src="images/logo.png" alt="Department of Industries - Government of Bihar" title="Department of Industries - Government of Bihar" class="img-responsive" /></a>
		                  </div>
		                   <img src="images/emblem.png" class="img-responsive emblem hidden-xs hidden-sm" alt="Emblem" title="Emblem" />
		                   <img src="images/make_in_bihar.jpg" class="img-responsive mkb emblem hidden-xs hidden-sm" alt="Emblem" title="Emblem" />
		                   <img src="images/single_window_logo.png" class="img-responsive emblem hidden-xs hidden-sm" alt="Emblem" title="Emblem" />
		                   <img src="images/udyog_logo.png" class="img-responsive emblem hidden-xs hidden-sm" alt="Emblem" title="Emblem" />
		                </div>
		              </div>
		            </div>
		    </div>
		    <div class="menu_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hidden-xs hidden-sm" id="main_nav">              
                      <nav>
                          <a ui-sref="home" title="Home" class="home_icon"> <img src="images/home_icon.png" class="img-responsive" alt="JK Singh" title="JK Singh"></a>
                        <ul class="nav navbar-nav">
                          <li class="ttz-dropdownblk"><a ui-sref="about" title="{{'aboutus' | translate}}">{{'aboutus' | translate}}</a>
                              <div class="ttz-dropdown dropdown-menu dropdownhover-bottom dd-about" id="Div1" role="menu">
                                    <div class="ttz-dropdownlst"><a href=""  title="Overview">Overview</a></div>
                                    <div class="ttz-dropdownlst"><a href=""  title="Department Functions">Department Functions</a></div>
                                    <div class="ttz-dropdownlst"><a href=""  title="Basic Practices">Basic Practices</a></div>
                                    <div class="ttz-dropdownlst"><a href="" title="Citizen Charter">Citizen Charter</a></div>
                                    <div class="ttz-dropdownlst"><a href="" title="Photo Gallery">Photo Gallery</a></div>
                               </div>
                          </li>
                          <li class="ttz-dropdownblk"><a href="javascript:;" title="{{'explore_bihar' | translate}}">{{'explore_bihar' | translate}}</a>
                                <div class="ttz-dropdown dropdown-menu dropdownhover-bottom dd-about" id="Div1" role="menu">
                                    <div class="ttz-dropdownlst"><a href=""  title="EODB in Bihar">EODB in Bihar</a></div>
                                    <div class="ttz-dropdownlst"><a href=""  title="Why Invest in Bihar">Why Invest in Bihar</a></div>
                                    <div class="ttz-dropdownlst"><a href=""  title="Region Wise Summary">Region Wise Summary</a></div>
                                    <div class="ttz-dropdownlst"><a href="" title="Overview">Overview</a></div>
                                    <div class="ttz-dropdownlst"><a href="" title="District Profile">District Profile</a></div>
                                    <div class="ttz-dropdownlst"><a href="" title="Industtrial Areas">Industtrial Areas</a></div>
                                </div>
                          </li>
                          <li><a href="javascript:;" title="Services & Schemes">Services & Schemes</a></li>
                          <li><a href="javascript:;" title="Investors Zone">Investors Zone</a></li>
                          <li><a href="javascript:;" title="Guidelines">Guidelines</a></li>
                          <li><a href="javascript:;" title="Policies/Acts">Policies/Acts</a></li>
                          <li><a href="javascript:;" title="Notice Board">Notice Board</a></li>
                          <li class="ttz-dropdownblk"><a ui-sref="contact-us" title="Contact Us">Contact Us</a>
                              <div class="ttz-dropdown dropdown-menu dropdownhover-bottom dd-contact" id="Div1" role="menu">
                                    <div class="ttz-dropdownlst"><a href="key-contacts.html"  title="Key Contacts">Key Contacts</a></div>
                                    <div class="ttz-dropdownlst"><a href="head-offices.html"  title="Head Office">Head Office</a></div>
                                    <div class="ttz-dropdownlst"><a href=""  title="DICs">DICs</a></div>
                                    <div class="ttz-dropdownlst"><a href="" title="Authority / Board / Corp">Authority / Board / Corp</a></div>
                               </div>
                          </li>               
                          <li class="ttz-dropdownblk"><a href="javascript:;" title="Quick Links">Quick Links</a>
                              <div class="ttz-dropdown dropdown-menu dropdownhover-bottom" id="Div1" role="menu">
                                    <div class="ttz-dropdownlst"><a href="http://udyogaadhaar.gov.in/UA/UAM_Registration.aspx" target="_blank" title="Udyog Aadhar">Udyog Aadhar</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://www.udyogmitrabihar.in/" target="_blank" title="Udyog Mitra">Udyog Mitra</a></div>
                                    <div class="ttz-dropdownlst"><a href="https://www.biharcommercialtax.gov.in/bweb/" target="_blank" title="Commercial Taxes Department">Commercial Taxes Department</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://labour.bih.nic.in/" target="_blank" title="Labour Resources Department">Labour Resources Department</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://www.biadabihar.in/" target="_blank" title="Industrial Area Development Authority">Industrial Area Development Authority</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://energy.bih.nic.in/" target="_blank" title="Energy Deparment">Energy Deparment</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://registration.bih.nic.in/" target="_blank" title="Registration, Excise & Prohibition Department">Registration, Excise & Prohibition Department</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://bspcb.bih.nic.in/" target="_blank" title="Pollution Control Board">Pollution Control Board</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://forest.bih.nic.in/" target="_blank" title="Environment & Forest Department">Environment & Forest Department</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://home.bih.nic.in/Fire/bfs.htm" target="_blank" title="Fire Office">Fire Office</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://urban.bih.nic.in/" target="_blank" title="Urban Development & Housing Department Board">Urban Development & Housing Department Board</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://wrd.bih.nic.in/" target="_blank" title="Water Resource Department">Water Resource Department</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://lrc.bih.nic.in/" target="_blank" title="Revenue & Land Reforms">Revenue & Land Reforms</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://law.bih.nic.in/" target="_blank" title="Department of Law">Department of Law</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://industries.bih.nic.in/Documents/Directorate-of-Tech-Dev.pdf" target="_blank" title="Directorate of Technical Development">Directorate of Technical Development</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://industries.bih.nic.in/Documents/Directorate-of-Handloom-and-Sericulture.pdf" target="_blank" title="Directorate of Handloom & Sericulture">Directorate of Handloom & Sericulture</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://industries.bih.nic.in/F-MPR.htm" target="_blank" title="Directorate of food processing">Directorate of food processing</a></div>
                                    <div class="ttz-dropdownlst"><a href="http://www.umsas.org.in/" target="_blank" title="Upendra Maharathi Shilp Anusandhan Sansthan">Upendra Maharathi Shilp Anusandhan Sansthan</a></div>
                               </div>
                          </li>              
                          <li><a ui-sref="login" class="login_btn" title="Login">Login</a></li>              
                        </ul>

                      </nav>
                    </div>

                      <div class="pull-right visible-xs visible-sm" id="main_nav">
                          <a href="index.html" class="mob_log"><img src="images/logo.png" alt="Department of Industries - Government of Bihar" title="Department of Industries - Government of Bihar" class="img-responsive" /></a>
                        <a href="#menu" class="mob_menu"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                      <nav id="menu">
                        <ul>
                          <li><a href="javascript:;" title="Home">Home</a></li>
                          <li><a href="about-us.html" title="About Us">About Us</a>
                                <ul>
                                    <li><a href=""  title="Overview">Overview</a></li>
                                    <li><a href=""  title="Department Functions">Department Functions</a></li>
                                    <li><a href=""  title="Basic Practices">Basic Practices</a></li>
                                    <li><a href="" title="Citizen Charter">Citizen Charter</a></li>
                                    <li><a href="" title="Photo Gallery">Photo Gallery</a></li>
                               </ul>
                          </li>
                          <li><a href="javascript:;" title="Explore Bihar">Explore Bihar</a></li>
                          <li><a href="javascript:;" title="Services & Schemes">Services & Schemes</a></li>
                          <li><a href="javascript:;" title="Investors Zone">Investors Zone</a></li>
                          <li><a href="javascript:;" title="Guidelines">Guidelines</a></li>
                          <li><a href="javascript:;" title="Policies/Acts">Policies/Acts</a></li>
                          <li><a href="javascript:;" title="Notice Board">Notice Board</a></li>
                          <li><a href="javascript:;" title="Contact Us">Contact Us</a>
                              <ul>
                                    <li><a href="key-contacts.html"  title="Key Contacts">Key Contacts</a></li>
                                    <li><a href="head-offices.html"  title="Head Office">Head Office</a></li>
                                    <li><a href=""  title="DICs">DICs</a></li>
                                    <li><a href="" title="Authority / Board / Corp">Authority / Board / Corp</a></li>
                              </ul>
                          </li>               
                          <li><a href="javascript:;" title="Quick Links">Quick Links</a>
                              <ul>
                                    <li><a href="http://udyogaadhaar.gov.in/UA/UAM_Registration.aspx" target="_blank" title="Udyog Aadhar">Udyog Aadhar</a></li>
                                    <li><a href="http://www.udyogmitrabihar.in/" target="_blank" title="Udyog Mitra">Udyog Mitra</a></li>
                                    <li><a href="https://www.biharcommercialtax.gov.in/bweb/" target="_blank" title="Commercial Taxes Department">Commercial Taxes Department</a></li>
                                    <li><a href="http://labour.bih.nic.in/" target="_blank" title="Labour Resources Department">Labour Resources Department</a></li>
                                    <li><a href="http://www.biadabihar.in/" target="_blank" title="Industrial Area Development Authority">Industrial Area Development Authority</a></li>
                                    <li><a href="http://energy.bih.nic.in/" target="_blank" title="Energy Deparment">Energy Deparment</a></li>
                                    <li><a href="http://registration.bih.nic.in/" target="_blank" title="Registration, Excise & Prohibition Department">Registration, Excise & Prohibition Department</a></li>
                                    <li><a href="http://bspcb.bih.nic.in/" target="_blank" title="Pollution Control Board">Pollution Control Board</a></li>
                                    <li><a href="http://forest.bih.nic.in/" target="_blank" title="Environment & Forest Department">Environment & Forest Department</a></li>
                                    <li><a href="http://home.bih.nic.in/Fire/bfs.htm" target="_blank" title="Fire Office">Fire Office</a></li>
                                    <li><a href="http://urban.bih.nic.in/" target="_blank" title="Urban Development & Housing Department Board">Urban Development & Housing Department Board</a></li>
                                    <li><a href="http://wrd.bih.nic.in/" target="_blank" title="Water Resource Department">Water Resource Department</a></li>
                                    <li><a href="http://lrc.bih.nic.in/" target="_blank" title="Revenue & Land Reforms">Revenue & Land Reforms</a></li>
                                    <li><a href="http://law.bih.nic.in/" target="_blank" title="Department of Law">Department of Law</a></li>
                                    <li><a href="http://industries.bih.nic.in/Documents/Directorate-of-Tech-Dev.pdf" target="_blank" title="Directorate of Technical Development">Directorate of Technical Development</a></li>
                                    <li><a href="http://industries.bih.nic.in/Documents/Directorate-of-Handloom-and-Sericulture.pdf" target="_blank" title="Directorate of Handloom & Sericulture">Directorate of Handloom & Sericulture</a></li>
                                    <li><a href="http://industries.bih.nic.in/F-MPR.htm" target="_blank" title="Directorate of food processing">Directorate of food processing</a></li>
                                    <li><a href="http://www.umsas.org.in/" target="_blank" title="Upendra Maharathi Shilp Anusandhan Sansthan">Upendra Maharathi Shilp Anusandhan Sansthan</a></li>
                              </ul>
                          </li>               
                          <li><a href="login.html" title="Login">Login</a></li>               
                        </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
	  	</header>