<!-- sub page_banner-->
<div class="bg_sub_img hidden-xs ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="sub_pg_head">{{title}}</span>
            </div>
        </div>
    </div>    
</div>

<!--end of banner-->

<!-- start of breadcrumb-->

<div class="container-fluid ng-scope">
  <div class="row bc_row">
    <div class="container">
      <a class="links active" href="#/home" title="Department of Industries - Government of Bihar">Home</a>
      <span class="fa fa-angle-right"></span>
      <span>{{title}}</span>
    </div>
  </div>
</div>

<!--end of breadcrumb-->

