<!-- sub page_banner-->
<div class="bg_sub_img hidden-xs ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="sub_pg_head">{{title}}</span>
            </div>
        </div>
    </div>    
</div>

<!--end of banner-->

<!-- start of breadcrumb-->

<div class="container-fluid ng-scope">
  <div class="row bc_row">
    <div class="container">
      <a class="links active" href="#/home" title="Department of Industries - Government of Bihar">Home</a>
      <span class="fa fa-angle-right"></span>
      <span>{{title}}</span>
    </div>
  </div>
</div>

<!--end of breadcrumb-->
<div class="fixed_bar">
    <ul>
        <li><a href="ariculture-sector" title="Agriculture Sector"><img src="images/sector_1.png" class="img-responsive" alt="Agriculture Sector" title="Agriculture Sector"></a></li>
        <li><a href=""><img src="images/sector_1.png" class="img-responsive" alt="Sector 1" title="Sector 1"></a></li>
        <li><a href=""><img src="images/sector_1.png" class="img-responsive" alt="Sector 1" title="Sector 1"></a></li>
        <li><a href=""><img src="images/sector_1.png" class="img-responsive" alt="Sector 1" title="Sector 1"></a></li>
        <li><a href="" id="trigger">...</a></li>
    </ul>
</div>
