<div class="main_cont">
                          <div class="sub_head">प्राधिकरण / बोर्ड / निगम</div>                         
                          <div class="contact_wrap">  
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">बिहार राज्य वित्तीय निगम</div>
                                            <span class="contact_title">श्री रवींद्र प्रसाद, एमडी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0612-2332210</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0612-2332364</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:bsfcpatna@gmail.com" title="bsfcpatna@gmail.com">bsfcpatna@gmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">बिहार राज्य क्रेडिट और निवेश निगम (बीआईसीआईसीओ)</div>
                                            <span class="contact_title">श्री रवींद्र प्रसाद, एमडी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2547552</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:mdbicico@gmail.com" title="mdbicico@gmail.com">mdbicico@gmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">बिहार औद्योगिक क्षेत्र विकास प्राधिकरण (बीआईआईएडीए)</div>
                                            <span class="contact_title">श्री आर एस श्रीवास्तव, एमडी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675998</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675991</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ic.mumbai-bih@gov.in" title="ic.mumbai-bih@gov.in">biada@rediffmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">औद्योगिक विकास प्राधिकरण</div>
                                            <span class="contact_title">डॉ. एस सिद्धार्थ, एमडी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675998</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675991</span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          <div class="row hidden-xs hidden-sm">
                              <div class="col-md-12"><hr></div>
                          </div>
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">बिहार राज्य औद्योगिक विकास निगम</div>
                                            <span class="contact_title">डॉ. एस सिद्धार्थ, एमडी/span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2532165</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:bsidc_bsidc@rediffmail.com" title="dirhs_bihrediffmail.com">dirhs_bih@rediffmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">बिहार राज्य हथकरघा, पावरलूम और हस्तशिल्प निगम</div>
                                            <span class="contact_title">श्री बी एन प्रसाद, एमडी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99349-68119</span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">बिहार राज्य खादी और ग्रामोद्योग बोर्ड</div>
                                            <span class="contact_title">श्री बी एन प्रसाद, मुख्य कार्यकारी अधिकारी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 99349-68119</span>
                                     </div>
                                </div>                                       
                            </div>
                          </div>
                      
                      </div>