<ul class="side_bar">
    <li><a ui-sref=".key-contacts" title="Key Contacts" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Key Contacts</a></li>
    <li><a ui-sref=".head-offices" title="Head Office" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Head Office</a></li>
    <li><a ui-sref=".dic" title="DICs" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> DICs</a></li>
    <li><a ui-sref=".authority" title="Authority / Board / Corp" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Authority / Board / Corp</a></li>
</ul>

<div class="side_banner_img_1 overlay_txt">
            <span>Industrial Investment Promotion Policy</span>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="Download" class="sub_view">Download</a>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="View">View</a>
    </div>
    <div class="side_banner_img_2 overlay_txt">
            <span>Aao Bihar</span>
            <a href="media/best-practices/BP-Aao-Bihar.pdf" target="_blank" title="View">View</a>
    </div>