<div class="main_cont">
                          <div class="sub_head">DIC</div>                        
                          <div class="contact_wrap">  
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Araria</div>
                                                  <span class="contact_title">Sri Shyamu Ram</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06453-222040</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222124</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23225</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Arwal</div>
                                                  <span class="contact_title">Md Belal</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06337-229351</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  228988</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23226</span>                                           
                                          </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Aurangabad</div>
                                                  <span class="contact_title">Khurshid Anmad</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 06186-223211</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  223211</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23227</span>                                           
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:gmdic.aurangabad@gmail.com">gmdic.aurangabadgmail.com</a></span>                                           
                                          </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Banka</div>
                                                  <span class="contact_title">Sri Ratan Kumar</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06424-222289</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222289</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23228</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:gmdic.banka@gmail.com">gmdic.banka@gmail.com</a></span>
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Begusarai</div>
                                                  <span class="contact_title"> Sri Anil Kumar Mandal</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06243-222055</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  230571</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23229</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Bhagalpur</div>
                                                  <span class="contact_title">Sri N. K. Jha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0641-2400543</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  2402400</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23230</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Bhojpur</div>
                                                  <span class="contact_title">Sri Mithilesh Kumar Singh</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06182-239139</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  233474</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23231</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Buxar</div>
                                                  <span class="contact_title">Sri Ranjan Kumar Sinha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06183-226064</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222231</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23232</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:gmdic.buxar@gmail.com">gmdic.buxar@gmail.com</a></span>
                                           </div>
                                      </div>                                       
                                  </div>
                                  <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Darbhanga</div>
                                                  <span class="contact_title"> Sri Shishukant Mishra</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06272-222387</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  245360</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23233</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">East Champaran</div>
                                                  <span class="contact_title">Sri Sanjay Kumar Sinha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06252-232509</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  242711</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23234</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Gaya</div>
                                                  <span class="contact_title">Sri Makeshwar Dwivedi</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0631-2223561</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  2223561</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23235</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Gopalganj</div>
                                                  <span class="contact_title">Sri Manoj Ranjan Srivastava</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06156-224637</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  226003</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23236</span>
                                           </div>
                                      </div>                                       
                                  </div>
                              <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Jamui</div>
                                                  <span class="contact_title"> Sri Sanjay Kumar Varma</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06345-222277</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222277</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23237</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Jehanabad</div>
                                                  <span class="contact_title">Sri Rai Gyan Chandra</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06114-223177</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  225741</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23238</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Kaimur</div>
                                                  <span class="contact_title">Sri Nagendra Sharma</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06189-224749</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  223301</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23239</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:gmdic.kaimur@gmail.com">gmdic.kaimur@gmail.com</a></span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Katihar</div>
                                                  <span class="contact_title">Md. Anis</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06452-248120</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  230880</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23240</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:gmdic.katihar@gmail.com">gmdic.katihar@gmail.com</a></span>
                                           </div>
                                      </div>                                       
                                  </div>                              
                              <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Khagaria</div>
                                                  <span class="contact_title"> Sri Ram Sharan Ram</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06244-222362</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222154</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23241</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Kishanganj</div>
                                                  <span class="contact_title">Sri Jawahar Paswan</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06456-222092</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222626</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23242</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Lakhisarai</div>
                                                  <span class="contact_title">Sri Ram Shanker Pandey</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06346-232552</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  232767</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23243</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Madhepura</div>
                                                  <span class="contact_title">Sri R. K. Singh</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06476-222367</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  224146</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23244</span>
                                           </div>
                                      </div>                                       
                                  </div>
                                  <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Madhubani</div>
                                                  <span class="contact_title"> Sri Shishukant Mishra</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06276-222321</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222209</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23245</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Munger</div>
                                                  <span class="contact_title">Sri Satyendra Kumar</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222254</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23246</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Muzaffarpur</div>
                                                  <span class="contact_title">Sri Raj Kumar Sharma</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06189-224749</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  2217285</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23247</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Nalanda</div>
                                                  <span class="contact_title">Sri Shatrudhan Pd Sinha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06112-220639</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  235205</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23248</span>
                                           </div>
                                      </div>                                       
                                  </div>
                              <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Nawada</div>
                                                  <span class="contact_title"> Sri Manoj Verma</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06324-212308</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  212904</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23249</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Patna</div>
                                                  <span class="contact_title">Sri Umesh Kumar</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0612-2270865</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  2218900</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23250</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Purnea</div>
                                                  <span class="contact_title">Sri Keshri Kumar Mishra</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06454-242395</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  242599</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23251</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Rohtas</div>
                                                  <span class="contact_title">Sri Akhlesh Kumar</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06184-221084</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  228856</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23252</span>
                                           </div>
                                      </div>                                       
                                  </div>
                              <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Saharsa</div>
                                                  <span class="contact_title"> Sri Sanjay Kumar</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06478-223110</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  224986</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23256</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Samastipur</div>
                                                  <span class="contact_title">Sri Alakh Kumar Sinha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06274-222379</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  222216</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23253</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Saran</div>
                                                  <span class="contact_title">Sri Premchandra Jha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06152-222482</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  240003</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23254</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Sheikhpura</div>
                                                  <span class="contact_title">Sri Rama Shankar Pandey</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06341-225073</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  223001</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23255</span>
                                           </div>
                                      </div>                                       
                                  </div>
                              <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sheohar</div>
                                                  <span class="contact_title"> Sri Chhatri Paswan</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06222-259088</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  257288</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23257</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sitamarhi</div>
                                                  <span class="contact_title">Sri Binay Kumar Mallik</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06226-250527</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  254516</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23258</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Siwan</div>
                                                  <span class="contact_title">Sri Manoj Ranjan Srivastava</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06154-245423</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  242160</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23259</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="contacts">
                                                  <div class="contact_name">Supaul</div>
                                                  <span class="contact_title">Sri Parimal Kumar Sinha</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  6473</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  223041</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23260</span>
                                           </div>
                                      </div>                                       
                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-3 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Vaishali</div>
                                                  <span class="contact_title"> Sri Sumit Kumar Mishra</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06224-277739</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  272501</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23261</span>
                                           </div>
                                      </div>
                                      <div class="col-md-3 ">
                                          <div class="contacts">
                                                  <div class="contact_name">West Champaran </div>
                                                  <span class="contact_title">Sri Krishna Kumar Bharti</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  06254-232534</span>
                                                  <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  242576</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23262</span>
                                           </div>
                                      </div>                                      
                                  </div>
                              
                              
                            </div>
                      
                      </div>