<div class="main_cont">
                          <div class="sub_head">मुख्य कार्यालय</div>  
                          <div class="contact_wrap">  
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री एस सिद्धार्थ, आईएएस</div>
                                                  <span class="contact_title">प्रमुख सचिव</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215211</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 70708-95721</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:prsecy.ind-bih@nic.in" title="prsecy.ind-bih@nic.in">prsecy.ind-bih@nic.in</a></span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री प्रदीप कुमार</div>
                                                  <span class="contact_title">अपर सचिव</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 94310-77567</span>                                           
                                           </div>
                                      </div>
                                      <div class="col-md-4 ">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">श्री साकेत कुमार</div>
                                                  <span class="contact_title">संयुक्त सचिव</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215301</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 73209-23203</span>                                            
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री मदन मोहन सिंह</div>
                                                  <span class="contact_title"> उप सचिव</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 98528-65631</span>
                                                  <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dy_ind@bihar.gov.in" title="dy_ind@bihar.gov.in">dy_ind@bihar.gov.in</a></span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री रणजीत कुमार</div>
                                                  <span class="contact_title">उप सचिव</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  80840-92191</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">श्री राजीव शंकर</div>
                                                  <span class="contact_title">पीजीआर अधिकारी</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99311-04357</span>
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री निरंजन कुमार सिन्हा</div>
                                                  <span class="contact_title"> अवर सचिव</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री अनिल झा</div>
                                                  <span class="contact_title">अवर सचिव</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  82944-65701</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">श्री सुरेश कुमार</div>
                                                  <span class="contact_title">श्री सुरेश कुमार</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23213</span>
                                           </div>
                                      </div>


                                  </div>
                        </div>
                          
                          
                          <!--directorate of industries-->
                          <div class="directory_head">उद्योग निदेशालय</div>
                          <div class="contact_wrap">
                                <div class="row">
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">श्री पंकज कुमार सिंह, आईपी और टीएस, बीडब्ल्यूएस </div>
                                                 <span class="contact_title"> उद्योग के निदेशक</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2235812</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23201</span>
                                                 <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir.ind-bih@nic.in</span>
                                                 <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  di_ind@bihar.gov.in</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">श्री प्रकाश टोप्पो</div>
                                                 <span class="contact_title">संयुक्त निदेशक</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23263</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="contacts no_bdr">
                                                 <div class="contact_name">श्री आर के ठाकुर</div>
                                                 <span class="contact_title">संयुक्त निदेशक</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23207</span>
                                          </div>
                                     </div>


                                 </div>
                               <div class="row hidden-xs hidden-sm">
                                   <div class="col-md-12"><hr></div>
                               </div>
                               <div class="row">
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">श्री उमेश सिंह</div>
                                                 <span class="contact_title"> उप निदेशक</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23210</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">श्री राघवेन्द्र नारायण</div>
                                                 <span class="contact_title">उप निदेशक</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23217</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="contacts no_bdr">
                                                 <div class="contact_name">श्री रणजीत कुमार</div>
                                                 <span class="contact_title">सहायक। निदेशक (लेखा)</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99314-95169</span>
                                          </div>
                                     </div>


                                 </div>
                          </div>
                          
                        <!--directorate of Technical Development-->
                        <div class="directory_head">तकनीकी विकास निदेशालय</div>
                        <div class="contact_wrap">
                                <div class="row">
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">श्री रविंद्र प्रसाद, आईटीएस</div>
                                                    <span class="contact_title"> निदेशक</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2215715</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23202</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir-td.ind-bih@nic.in</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dtd_ind@bihar.gov.in</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">श्रीमती सरिता चौधरी</div>
                                                    <span class="contact_title">अपर निदेशक</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23204</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  jd_ind@bihar.gov.in</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="contacts no_bdr">
                                                    <div class="contact_name">श्री बृजमानंद प्रसाद</div>
                                                    <span class="contact_title">संयुक्त निदेशक (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23205</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  depdir.industry@gmail.com</span>
                                             </div>
                                        </div>


                                </div>
                                <div class="row hidden-xs hidden-sm">
                                      <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">श्री बलराम सिंह</div>
                                                    <span class="contact_title"> संयुक्त निदेशक (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23208</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">श्री संजय कुमार सिंह</div>
                                                    <span class="contact_title">उप निदेशक (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23211</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="contacts no_bdr">
                                                    <div class="contact_name">श्री एस एन राम</div>
                                                    <span class="contact_title">उप निदेशक (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23215</span>
                                             </div>
                                        </div>


                                </div>
                                <div class="row hidden-xs hidden-sm">
                                      <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">श्री वीपीन्द्र नाथ ठाकुर</div>
                                                    <span class="contact_title"> उप निदेशक (टेक)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  98350-57019</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">श्री रंजन कुमार उपाध्याय</div>
                                                    <span class="contact_title">उप निदेशक (टेक)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23219</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="contacts no_bdr">
                                                    <div class="contact_name">श्री ए के मंडल</div>
                                                    <span class="contact_title">सहायक निदेशक (टेक)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  77590-90598</span>
                                             </div>
                                        </div>         
                                </div>
                        </div>
                        <!--Directorate of Handloom and Sericulture-->
                          <div class="directory_head">हथकरघा एवं रेशम उत्पादन निदेशालय</div>
                          <div class="contact_wrap">
                          <div class="row">
                                <div class="col-md-4 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">श्री साकेत कुमार</div>
                                            <span class="contact_title"> निदेशक</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2215637</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23203</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir-hs.ind-bih@nic.in</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dhs_ind@bihar.gov.in</span>
                                     </div>
                                </div>
                                <div class="col-md-4 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">श्रीमती रेखा श्रीवास्तव</div>
                                            <span class="contact_title">संयुक्त निदेशक (टेक)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23212</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  jdtech_ind@bihar.gov.in</span>
                                     </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contacts no_bdr">
                                            <div class="contact_name">श्री आशुतोष प्रसाद मिश्रा  </div>
                                            <span class="contact_title">उप निदेशक</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23218</span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          <div class="row hidden-xs hidden-sm">
                              <div class="col-md-12"><hr></div>
                          </div>
                          <div class="row">
                                <div class="col-md-4 sep_border">
                                    <div class="contacts no_bdr">
                                            <div class="contact_name">श्री अशोक कुमार</div>
                                            <span class="contact_title"> सहायक निदेशक</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99346-52342</span>
                                     </div>
                                </div>                                 
                            </div>  
                      </div>
                          <!--Directorate of Food Processing-->
                          <div class="directory_head">निदेशालय खाद्य प्रसंस्करण</div>
                          <div class="contact_wrap">
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री पंकज कुमार सिंह, आईपी और टीएस, बीडब्ल्यूएस</div>
                                                  <span class="contact_title"> निदेशक</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99319-66005</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir-fp.ind-bih@nic.in</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dfp_ind@bihar.gov.in</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री बिमल कुमार</div>
                                                  <span class="contact_title">संयुक्त निदेशक </span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  sjd_ind@bihar.gov.in</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="contacts">
                                                  <div class="contact_name">श्री अजय कुमार महतो  </div>
                                                  <span class="contact_title">उप निदेशक</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23216</span>
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-4">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">श्री संजीत कुमार</div>
                                                  <span class="contact_title"> सहायक निदेशक</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99340-07269</span>
                                           </div>
                                      </div>                                 
                                  </div>
                          </div>
                      
                      </div>