<div class="main_cont">
                          <div class="sub_head">Head Offices</div>
                          <p class="big_txt"><span>Bihar is one of the fastest growing states in India.</span> During the period 2005-06 to 2014-15, the GSDP of Bihar at constant prices grew annually at 10.5 percent, which is one of the highest among all major Indian states. </p>   
                          <div class="contact_wrap">  
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri S.Siddharth, IAS</div>
                                                  <span class="contact_title">Principal Secretary</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215211</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 70708-95721</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:prsecy.ind-bih@nic.in" title="prsecy.ind-bih@nic.in">prsecy.ind-bih@nic.in</a></span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Pradeep Kumar</div>
                                                  <span class="contact_title">Additional Secretary</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 94310-77567</span>                                           
                                           </div>
                                      </div>
                                      <div class="col-md-4 ">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">Sri Saket Kumar</div>
                                                  <span class="contact_title">Joint Secretary</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215301</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 73209-23203</span>                                            
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Madan Mohan Singh</div>
                                                  <span class="contact_title"> Deputy Secretary</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 98528-65631</span>
                                                  <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dy_ind@bihar.gov.in" title="dy_ind@bihar.gov.in">dy_ind@bihar.gov.in</a></span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Ranjit Kumar</div>
                                                  <span class="contact_title">Deputy Secretary</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  80840-92191</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">Sri Rajiv Shankar</div>
                                                  <span class="contact_title">PGR Officer</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99311-04357</span>
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Niranjan Kumar Sinha</div>
                                                  <span class="contact_title"> Under Secretary</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Anil Jha</div>
                                                  <span class="contact_title">Under Secretary</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  82944-65701</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">Sri Suresh Kumar</div>
                                                  <span class="contact_title">Deputy Director, Industry</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23213</span>
                                           </div>
                                      </div>


                                  </div>
                        </div>
                          
                          
                          <!--directorate of industries-->
                          <div class="directory_head">Directorate of Industries</div>
                          <div class="contact_wrap">
                                <div class="row">
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">Sri Pankaj Kumar Singh, IP&TS, BWS </div>
                                                 <span class="contact_title"> Director of Industries</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2235812</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23201</span>
                                                 <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir.ind-bih@nic.in</span>
                                                 <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  di_ind@bihar.gov.in</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">Sri Prakash Toppo</div>
                                                 <span class="contact_title">Joint Director</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23263</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="contacts no_bdr">
                                                 <div class="contact_name">Sri R. K. Thakur</div>
                                                 <span class="contact_title">Joint Director</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23207</span>
                                          </div>
                                     </div>


                                 </div>
                               <div class="row hidden-xs hidden-sm">
                                   <div class="col-md-12"><hr></div>
                               </div>
                               <div class="row">
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">Sri Umesh Singh</div>
                                                 <span class="contact_title"> Deputy Director</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23210</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4 sep_border">
                                         <div class="contacts">
                                                 <div class="contact_name">Sri Raghvendra Narayan</div>
                                                 <span class="contact_title">Deputy Director</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23217</span>
                                          </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="contacts no_bdr">
                                                 <div class="contact_name">Sri Ranjit Kumar</div>
                                                 <span class="contact_title">Asstt. Director (Accounts)</span>
                                                 <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99314-95169</span>
                                          </div>
                                     </div>


                                 </div>
                          </div>
                          
                        <!--directorate of Technical Development-->
                        <div class="directory_head">Directorate of Technical Development</div>
                        <div class="contact_wrap">
                                <div class="row">
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">Sri Ravindra Prasad, ITS </div>
                                                    <span class="contact_title"> Director</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2215715</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23202</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir-td.ind-bih@nic.in</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dtd_ind@bihar.gov.in</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">Smt Sarita Chaudhary</div>
                                                    <span class="contact_title">Additional Director</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23204</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  jd_ind@bihar.gov.in</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="contacts no_bdr">
                                                    <div class="contact_name">Sri Brijnandan Prasad</div>
                                                    <span class="contact_title">Joint Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23205</span>
                                                    <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  depdir.industry@gmail.com</span>
                                             </div>
                                        </div>


                                </div>
                                <div class="row hidden-xs hidden-sm">
                                      <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">Sri Balram Singh</div>
                                                    <span class="contact_title"> Joint Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23208</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">Sri Sanjay Kumar Singh</div>
                                                    <span class="contact_title">Deputy Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23211</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="contacts no_bdr">
                                                    <div class="contact_name">Sri S. N. Ram</div>
                                                    <span class="contact_title">Deputy Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23215</span>
                                             </div>
                                        </div>


                                </div>
                                <div class="row hidden-xs hidden-sm">
                                      <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">Sri Vipendra Nath Thakur</div>
                                                    <span class="contact_title"> Deputy Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  98350-57019</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4 sep_border">
                                            <div class="contacts">
                                                    <div class="contact_name">Sri Ranjan Kumar Upadhay</div>
                                                    <span class="contact_title">Deputy Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23219</span>
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="contacts no_bdr">
                                                    <div class="contact_name">Sri A. K. Mandal</div>
                                                    <span class="contact_title">Assistant Director (Tech)</span>
                                                    <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  77590-90598</span>
                                             </div>
                                        </div>         
                                </div>
                        </div>
                        <!--Directorate of Handloom and Sericulture-->
                          <div class="directory_head">Directorate of Handloom and Sericulture</div>
                          <div class="contact_wrap">
                          <div class="row">
                                <div class="col-md-4 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Sri Saket Kumar</div>
                                            <span class="contact_title"> Director</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2215637</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23203</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir-hs.ind-bih@nic.in</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dhs_ind@bihar.gov.in</span>
                                     </div>
                                </div>
                                <div class="col-md-4 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Smt Rekha Shrivastav</div>
                                            <span class="contact_title">Joint Director (Tech)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23212</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  jdtech_ind@bihar.gov.in</span>
                                     </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contacts no_bdr">
                                            <div class="contact_name">Sri Ashutosh Prasad Mishra  </div>
                                            <span class="contact_title">Deputy Director</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23218</span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          <div class="row hidden-xs hidden-sm">
                              <div class="col-md-12"><hr></div>
                          </div>
                          <div class="row">
                                <div class="col-md-4 sep_border">
                                    <div class="contacts no_bdr">
                                            <div class="contact_name">Sri Ashok Kumar</div>
                                            <span class="contact_title"> Assistant Director</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99346-52342</span>
                                     </div>
                                </div>                                 
                            </div>  
                      </div>
                          <!--Directorate of Food Processing-->
                          <div class="directory_head">Directorate of Food Processing</div>
                          <div class="contact_wrap">
                                <div class="row">
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Pankaj Kumar Singh, IP&TS, BWS</div>
                                                  <span class="contact_title"> Director</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99319-66005</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dir-fp.ind-bih@nic.in</span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  dfp_ind@bihar.gov.in</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4 sep_border">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Bimal Kumar</div>
                                                  <span class="contact_title">Joint Director </span>
                                                  <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  sjd_ind@bihar.gov.in</span>
                                           </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="contacts">
                                                  <div class="contact_name">Sri Ajay Kumar Mahto  </div>
                                                  <span class="contact_title">Deputy Director</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  73209-23216</span>
                                           </div>
                                      </div>


                                  </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-12"><hr></div>
                                </div>
                                <div class="row">
                                      <div class="col-md-4">
                                          <div class="contacts no_bdr">
                                                  <div class="contact_name">Sri Sanjeet Kumar</div>
                                                  <span class="contact_title"> Assistant Director</span>
                                                  <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99340-07269</span>
                                           </div>
                                      </div>                                 
                                  </div>
                          </div>
                      
                      </div>