<ul class="side_bar">
    <li><a href="javascript:;" title="Introduction" class="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'Introduction' | translate}}</a></li>
    <li><a href="javascript:;" title="Highlights"><i class="fa fa-caret-right" aria-hidden="true"></i> Highlights</a></li>
</ul>

<div class="notice_section">
    <span class="">Notices</span>
    <ul>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Deadline Extension</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Corrigendum #2 for Tender No-4/Tech/</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Single Window/195@2016, Dated 27-12-2016</li>
      </ul>
</div>

<div class="side_banner_img_1 overlay_txt">
        <span>Industrial Investment Promotion Policy</span>
        <a href="" title="Download" class="sub_view">Download</a>
        <a href="" title="View">View</a>
</div>
<div class="side_banner_img_2 overlay_txt">
        <span>Aao Bihar</span>
        <a href="" title="View">View</a>
</div>