
  <div class="main_cont">
      <div class="sub_head">IT & ELECTRONICS</div>
      <p class="big_txt">IT, ITeS, ELECTRICAL & ELECTRONIC HARDWARE MANUFACTURING SECTOR</p>
      <p>Globally, the IT & ITeS industry, along with the hardware manufacturing sector, is the largest and fastest growing industry in the world. It is expected to reach around USD 2.4 trillion by 2020. The demand in the Indian market is poised to reach more than USD 400 billion by 2020.</p>
      <p>The importance of IT/ITeS sector is not that of a standalone sector, rather as an integral part of other industries. It has a significant penetration in to all walks of life. It has been established now that the growth in IT/ITeS sector would spur further growth in the fields of agriculture, education, healthcare, energy, telecommunication, rural development, tourism, textile, etc.</p>
      <p>The sector is yet to take off and move in the desired direction with a pace that offers potential for many entrepreneurial ventures and start up units. The availability of educated youth and cheap labour in the state pose a clear advantage to the investment in this sector, in the state.</p>
      <h2 class="ht_c2a_title">Priority Sectors</h2>
      <p>The priority sectors for investment identified by the State Government in this sector are as follows:</p>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Sectors</th>
                  <th>Investment Opportunities</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="col-md-4">Land / Seed bed preparation</td>
                  <td class="col-md-8">Tractors, power tillers, levelers, ploughs, harrow, rotavator, cultivator, ridger, dozers, scrapers</td>
              </tr>
              <tr>
                  <td class="col-md-4">Seeding / planting / sowing</td>
                  <td class="col-md-8">Drill, seeders, planters, dibblers, trans-planters, seed cum fertilizer drills, zero tillage machines</td>
              </tr>
              <tr>
                  <td class="col-md-4">Spraying and dusting Equipment</td>
                  <td class="col-md-8">Weeders, conoweeders, tillers, sprayers, dusters, mist blowers</td>
              </tr>
              <tr>
                  <td class="col-md-4">Harvesting</td>
                  <td class="col-md-8"> Harvesters/ combine harvesters, threshers, potato diggers, reapers, sheller, sickles/ straw reapers</td>
              </tr>
              <tr>
                  <td class="col-md-4">Post-harvest Equipment</td>
                  <td class="col-md-8"> Seed extractors, de-huskers, hullers/ de-hullers, cleaners, graders, dryers, winnowers, trailors, grain bins</td>
              </tr>
              <tr>
                  <td class="col-md-4">Irrigation</td>
                  <td class="col-md-8"> Diesel pumps, electric pump-sets, solar pump sets, sprinklers, drip irrigation equipment, HDPE irrigation pipes, etc.</td>
              </tr>
              <tr>
                  <td class="col-md-4">Small machines and components</td>
                  <td class="col-md-8">Ancillary units for automobiles and automobiles components, diesel and electric locomotives related ancillary units, cycle manufacturing</td>
              </tr>
              <tr>
                  <td class="col-md-4">General/ Business Development Services</td>
                  <td class="col-md-8"> Research & development facility, quality control laboratory/ testing laboratory, design studio/ prototyping facility, training centre/ incubation centre/skill development centre</td>
              </tr>
          </tbody>
      </table>
      <p><strong>Note:</strong></p>
      <p>1. The above list of units/ enterprises is only indicative and the State Government may suitably revise the list under the priority sector from time to time.</p>
      <p>2. Units manufacturing parts/ components that are directly used in other small machines would also be considered under priority sector.</p>
  </div>
