
  <div class="main_cont">
      <div class="sub_head">Renewal Energy</div>
      <p class="big_txt">Bihar, with approximate peak deficit of 669 MW of electricity4is significantly dependent on the power supplied by the central generation stations as of now. Currently, the state is majorly dependent upon the conventional sources for electricity generation. The deficit of electricity poses an enormous constraint for all future development including industries. The per capita electricity consumption of the State is approx.203 kWH5,which is still below the national average and the demand will be much higher in the foreseeable future.</p>
      <div class="row">
          <div class="col-md-6">
              <p>The state realizes the importance of electricity on the overall economic growth and has initiated steps to address this gap by implementing large power projects which are primarily based on conventional sources, and are in various stages of implementation. These large power projects have long gestation period, while the demand continues to rise; therefore, the state has a unique opportunity to meet this requirement through rapid deployment of modular RE system.</p>
          </div>
          <div class="col-md-6">
               <img src="images/sub_banner_img.png" width="748" height="320" class="img-responsive" title="About Bihar" alt="About Bihar">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
               <img src="images/sub_banner_img.png" width="748" height="320" class="img-responsive" title="About Bihar" alt="About Bihar">
          </div>
          <div class="col-md-6"> <p>Bihar has RE potential of more than 12.559 GW (solar: 11.2 GW, biomass gasifier/ co-generation: 619 MW, bagasse co-generation: 300 MW, wind power: 144 MW, waste to energy: 73 MW etc.)6 which is yet to be harnessed. Further, there is a potential consumption market for solar off-grid applications such as SPV pumps, solar water heaters, solar street lights, etc. This presents an enormous opportunity to the industries, for setting up units for RE modular product manufacturing, RE projects, etc.</p></div>
      </div>  
      <h2 class="ht_c2a_title">Priority sectors in the renewable energy sector</h2>
      <p>The following kinds of facilities/ units would be considered under the priority sector:</p>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Sectors</th>
                  <th>Investment Opportunities</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="col-md-4">Solar Power</td>
                  <td class="col-md-8">Solar photovoltaic and Solar Thermal Power Generation, Solar Hybrid Systems and Solar applications in Domestic and Industrial Sector.</td>
              </tr>
              <tr>
                  <td class="col-md-4">Bio-mass</td>
                  <td class="col-md-8">Biomass and Biogas projects, Biomass Hybrid Systems and biomass applications in Domestic and Industrial Sector.</td>
              </tr>
              <tr>
                  <td class="col-md-4">Hydel Power</td>
                  <td class="col-md-8">Small Hydropower projects (up to 25 MW)</td>
              </tr>
              <tr>
                  <td class="col-md-4">Others</td>
                  <td class="col-md-8">
                      <ul><li>Co-generation in sugar and other industries, Waste to Energy projects including municipal solid waste, industrial waste etc. based energy projects, Wind power projects,</li><li>RE modular product manufacturing</li></ul>
                  </td>
              </tr>
          </tbody>
      </table>
      <p><strong>Note:</strong> The above list of units/ enterprises is only indicative and the State Government may suitably revise the list under the priority sector from time to time.</p>
  </div>
