<div ng-controller="agricultureController as agrCntrl">
	<div  data-ng-include="'template/page-title-breadcrumb.html'"></div>

	<div class="container">
	  <div class="row cont_row">
	            <div class="col-md-12">
	                <div class="main_cont">
                                    <div class="sub_head">Photo Gallery</div>
                                        <div class="gallery">
                                            <ul id="da-thumbs" class="da-thumbs">
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                                                                                <h5>Prabhat Industry</h5>
                                                                                                <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                  <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" title="Prabhat Industries" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" title="Prabhat Industries" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 
                                                                        <li>
                                                                                <a href="images/photo-gallery/udyogbhawan-biada.jpg" rel="Prabhat Industry" title="Prabhat Industries" class="b-link-stripe b-animate-go  thickbox">
                                                                                        <img src="images/photo-gallery/udyogbhawan-biada.jpg" alt="" class="img-responsive">
                                                                                        <div>
                                                                                                <i class="fa fa-search-plus" aria-hidden="true"></i>    
                                                                                                  <h5>Prabhat Industry</h5>
                                                                                                  <span>Hydraulic Equipment Supplier</span>
                                                                                        </div>
                                                                                </a>
                                                                        </li> 

                                            </ul>
                                        </div>
                                </div>
	            </div>

	</div> 
</div> 
