<div class="main_cont">
                          <div class="sub_head">Schemes</div>                          
                                <div class="pdf_wrap">  
                                        <div class="row">
                                            <div class="col-md-4">
                                                        <a href="media/schemes/PMEGP-Scheme.pdf" target="_blank" class="cards" title="Prime Minister's Employment Generation Programme">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-01.gif" class="img-responsive" title="Prime Minister's Employment Generation Programme" alt="Prime Minister's Employment Generation Programme"></div>
                                                             <span class=" schemes_title">Prime Minister's Employment Generation Programme <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/Aao-Bihar-Scheme.pdf" target="_blank" class="cards" title="Aao Bihar Scheme">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-05.jpg" class="img-responsive" title="Aao Bihar Scheme" alt="Aao Bihar Scheme"></div>
                                                             <span class=" schemes_title">Aao Bihar Scheme <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-CM-MSICD.pdf" target="_blank" class="cards" title="CM Micro & Small Industries Cluster Development Scheme">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-08.jpg" class="img-responsive" title="CM Micro & Small Industries Cluster Development Scheme" alt="CM Micro & Small Industries Cluster Development Scheme"></div>
                                                             <span class=" schemes_title">CM Micro & Small Industries Cluster Development Scheme <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-Pvt-Industrial-Area.pdf" target="_blank" class="cards" title="Private Industrial Area">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-09.jpg" class="img-responsive" title="Private Industrial Area" alt="Private Industrial Area"></div>
                                                             <span class=" schemes_title">Private Industrial Area <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-CMHD.pdf" target="_blank" class="cards" title="Chief Minister's Cluster Handloom Development Scheme">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-11.jpg" class="img-responsive" title="Chief Minister's Cluster Handloom Development Scheme" alt="Chief Minister's Cluster Handloom Development Scheme"></div>
                                                             <span class=" schemes_title">Chief Minister's Cluster Handloom Development Scheme  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-CMTD.pdf" target="_blank" class="cards" title="Chief Minister's Tasar Development Scheme">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-12.jpg" class="img-responsive" title="Chief Minister's Tasar Development Scheme" alt="Chief Minister's Tasar Development Scheme"></div>
                                                             <span class=" schemes_title">Chief Minister's Tasar Development Scheme <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-WBY.pdf" target="_blank" class="cards" title="Mahatma Gandhi Weaver's Insurance Scheme ">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-13.jpg" class="img-responsive" title="Mahatma Gandhi Weaver's Insurance Scheme " alt="Mahatma Gandhi Weaver's Insurance Scheme "></div>
                                                             <span class=" schemes_title">Mahatma Gandhi Weaver's Insurance Scheme  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-ColdStorage.pdf" target="_blank" class="cards" title="Establishment of Cold Storage under Krishi Road Map">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-14.jpg" class="img-responsive" title="Establishment of Cold Storage under Krishi Road Map" alt="Establishment of Cold Storage under Krishi Road Map"></div>
                                                             <span class=" schemes_title">Establishment of Cold Storage under Krishi Road Map <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-MaizeSilo.pdf" target="_blank" class="cards" title="Establishment of Silo for Storage of Maize">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-15.jpg" class="img-responsive" title="Establishment of Silo for Storage of Maize" alt="Establishment of Silo for Storage of Maize"></div>
                                                             <span class=" schemes_title">Establishment of Silo for Storage of Maize <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-RMS.pdf" target="_blank" class="cards" title="Modernization of Rice Mills Scheme">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-17.jpg" class="img-responsive" title="Modernization of Rice Mills Scheme" alt="Modernization of Rice Mills Scheme"></div>
                                                             <span class=" schemes_title">Modernization of Rice Mills Scheme <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-OTS.pdf" target="_blank" class="cards" title="OTS 2015 (Term Loan)">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-20.jpg" class="img-responsive" title="OTS 2015 (Term Loan)" alt="OTS 2015 (Term Loan)"></div>
                                                             <span class=" schemes_title">OTS 2015 (Term Loan)  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-IDFPY.pdf" target="_blank" class="cards" title="Integrated Development Food Processing Sector Yojana">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-19.jpg" class="img-responsive" title="Integrated Development Food Processing Sector Yojana" alt="Integrated Development Food Processing Sector Yojana"></div>
                                                             <span class=" schemes_title">Integrated Development Food Processing Sector Yojana<i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-FPY.pdf" target="_blank" class="cards" title="Food Park Yojana">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-18.jpg" class="img-responsive" title="Food Park Yojana" alt="Food Park Yojana "></div>
                                                             <span class=" schemes_title">Food Park Yojana  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                        </div>

                                </div>
                      
</div>