<div class="main_cont">
                          <div class="sub_head">योजनाएं</div>                          
                                <div class="pdf_wrap">  
                                        <div class="row">
                                            <div class="col-md-4">
                                                        <a href="media/schemes/PMEGP-Scheme.pdf" target="_blank" class="cards" title="
प्रधान मंत्री रोजगार सृजन कार्यक्रम">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-01.gif" class="img-responsive" title="प्रधान मंत्री रोजगार सृजन कार्यक्रम" alt="प्रधान मंत्री रोजगार सृजन कार्यक्रम"></div>
                                                             <span class=" schemes_title">
प्रधान मंत्री रोजगार सृजन कार्यक्रम <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/Aao-Bihar-Scheme.pdf" target="_blank" class="cards" title="आओ बिहार योजना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-05.jpg" class="img-responsive" title="आओ बिहार योजना" alt="आओ बिहार योजना"></div>
                                                             <span class=" schemes_title">आओ बिहार योजना <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-CM-MSICD.pdf" target="_blank" class="cards" title="मुख्यमंत्री माइक्रो और लघु उद्योग समूह विकास योजना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-08.jpg" class="img-responsive" title="मुख्यमंत्री माइक्रो और लघु उद्योग समूह विकास योजना" alt="मुख्यमंत्री माइक्रो और लघु उद्योग समूह विकास योजना"></div>
                                                             <span class=" schemes_title">मुख्यमंत्री माइक्रो और लघु उद्योग समूह विकास योजना <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-Pvt-Industrial-Area.pdf" target="_blank" class="cards" title="निजी औद्योगिक क्षेत्र">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-09.jpg" class="img-responsive" title="निजी औद्योगिक क्षेत्र" alt="निजी औद्योगिक क्षेत्र"></div>
                                                             <span class=" schemes_title">निजी औद्योगिक क्षेत्र <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-CMHD.pdf" target="_blank" class="cards" title="मुख्यमंत्री के क्लस्टर हैंडलूम डेवलपमेंट स्कीम">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-11.jpg" class="img-responsive" title="मुख्यमंत्री के क्लस्टर हैंडलूम डेवलपमेंट स्कीम" alt="मुख्यमंत्री के क्लस्टर हैंडलूम डेवलपमेंट स्कीम"></div>
                                                             <span class=" schemes_title">मुख्यमंत्री के क्लस्टर हैंडलूम डेवलपमेंट स्कीम  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-CMTD.pdf" target="_blank" class="cards" title="मुख्यमंत्री की तसर विकास योजना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-12.jpg" class="img-responsive" title="मुख्यमंत्री की तसर विकास योजना" alt="मुख्यमंत्री की तसर विकास योजना"></div>
                                                             <span class=" schemes_title">मुख्यमंत्री की तसर विकास योजना <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-WBY.pdf" target="_blank" class="cards" title="महात्मा गांधी वीवर बीमा योजना ">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-13.jpg" class="img-responsive" title="महात्मा गांधी वीवर बीमा योजना " alt="महात्मा गांधी वीवर बीमा योजना "></div>
                                                             <span class=" schemes_title">महात्मा गांधी वीवर बीमा योजना  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-ColdStorage.pdf" target="_blank" class="cards" title="कृषि रोड मैप के तहत कोल्ड स्टोरेज की स्थापना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-14.jpg" class="img-responsive" title="कृषि रोड मैप के तहत कोल्ड स्टोरेज की स्थापना" alt="कृषि रोड मैप के तहत कोल्ड स्टोरेज की स्थापना"></div>
                                                             <span class=" schemes_title">कृषि रोड मैप के तहत कोल्ड स्टोरेज की स्थापना <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-MaizeSilo.pdf" target="_blank" class="cards" title="मक्का के भंडारण के लिए सिलो की स्थापना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-15.jpg" class="img-responsive" title="मक्का के भंडारण के लिए सिलो की स्थापना" alt="मक्का के भंडारण के लिए सिलो की स्थापना"></div>
                                                             <span class=" schemes_title">मक्का के भंडारण के लिए सिलो की स्थापना <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-RMS.pdf" target="_blank" class="cards" title="चावल मिल्स योजना का आधुनिकीकरण">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-17.jpg" class="img-responsive" title="चावल मिल्स योजना का आधुनिकीकरण" alt="चावल मिल्स योजना का आधुनिकीकरण"></div>
                                                             <span class=" schemes_title">चावल मिल्स योजना का आधुनिकीकरण <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-OTS.pdf" target="_blank" class="cards" title="ओटीएस 2015 (टर्म लोन)">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-20.jpg" class="img-responsive" title="ओटीएस 2015 (टर्म लोन)" alt="ओटीएस 2015 (टर्म लोन)"></div>
                                                             <span class=" schemes_title">ओटीएस 2015 (टर्म लोन)  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-IDFPY.pdf" target="_blank" class="cards" title="एकीकृत विकास खाद्य प्रसंस्करण क्षेत्र योजना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-19.jpg" class="img-responsive" title="एकीकृत विकास खाद्य प्रसंस्करण क्षेत्र योजना" alt="एकीकृत विकास खाद्य प्रसंस्करण क्षेत्र योजना"></div>
                                                             <span class=" schemes_title">एकीकृत विकास खाद्य प्रसंस्करण क्षेत्र योजना<i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-FPY.pdf" target="_blank" class="cards" title="
खाद्य पार्क योजना">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-18.jpg" class="img-responsive" title="खाद्य पार्क योजना" alt="खाद्य पार्क योजना "></div>
                                                             <span class=" schemes_title">
खाद्य पार्क योजना  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                        </div>

                                </div>
                      
</div>