<div class="login_card">
  <form name="form" ng-submit="vm.login()" role="form">
      
      <div class="form-group"><img src="images/single_window_logo.png" class="img-responsive login_top_img" alt="Emblem" title="Emblem"></div>
    <div class="input-container" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
      <input type="text" name="username" id="username" ng-model="vm.username" required/>
      <label for="username">Username</label>
      <div class="bar"></div>
      <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>


    <!-- Password -->
          <div class="input-container" ng-class="{'has-error':!passwordGood && (!form.password.$pristine)}">
              <input type="text" id="password" name="password" ng-model="vm.password" valid-password required/>
              <label for="password">Password</label>
              <div class="bar"></div>
              <div class="help-inline">
                  <span class="help-block" ng-show="!!form.password.$error.isBlank">Password Required.</span>
                  <span class="help-block" ng-show="!!form.password.$error.isWeak">Must contain one upper &amp; lower case letter and a non-letter (number or symbol.)</span> 
                  <span class="help-block" ng-show="!!form.password.$error.invalidLen">Must be 8-20 characters.</span>
              </div>
          </div>


    <div class="input-container"><a href="#!/login/forgot-password"  ng-click="vm.forgetPwd()" title="Forgot Password?" class="fgt_txt">Forgot Password?</a></div>
    <div class="input-container">Not a register user? <a href="#!/login/register"  title="Register Now" class="fgt_txt">Register Now</a></div>
    
    <div class="form-group">
        <input type="submit" class="btn btn-primary loginbt" ng-disabled="form.$invalid || vm.dataLoading" style="width:100px;" value="Login" />
        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div class="loginmsg" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
  </form>
</div>