<style>
  header,.head_boder,.row.doi_footer,.fixed_bar{display: none}
  .app-header{display: block}
</style>


<div class="login_banner" ng-controller="loginController as loginCntrl" data-ng-style="vm.fullWinHt">
<div class="container-fluid" id="headerblk">
  <header class="row app-header">
    <div class="logo_header">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="login_logo">
                    <a ui-sref="home"><img src="images/login_logo.png" alt="Department of Industries - Government of Bihar" title="Department of Industries - Government of Bihar" class="img-responsive" /></a>
                  </div>
                   <img src="images/emblem_ico.png" class="img-responsive emblem hidden-xs hidden-sm" alt="Emblem" title="Emblem" />
                </div>
              </div>
            </div>
    </div>
  </header>
</div>
<div class="container">
  <div class="row log_row">
            <div class="col-md-4 col-sm-12">
                <div class="loginbox1">

                  <div ui-view></div>

                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                      <div class="login_main_cont">                          
                          <div class="sub_head">Single Window Clearance System</div>
                          <p class="big_txt"><span>SWCS for industries is a concept to provide all entry level services to entrepreneurs,</span></p>
                          <p>with minimum interface with departments, in a transparent manner, within specified time leading to hassle free approvals. There is a provision for deemed approvals for certain clearances. Under the Single Window Act, Government have notified and constituted different Agencies /Committees for receiving, processing and monitoring of applications under Single Window Act.</p>
                      </div>
            </div>
            
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <ul class="login_footer_links">
                  <li><a href="" title="Overview">Overview</a></li>
                  <li><a href="" title="Departments">Departments</a></li>
                  <li><a href="" title="Service">Service</a></li>
                  <li class="no_bdr"><a href="" title="Contacts">Contacts</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
</div>