<style>
  header,.head_boder,.row.doi_footer{display: none}
</style>


<div class="login_banner" ng-controller="loginController">
<div class="container-fluid" id="headerblk">
  <header class="row">
    <div class="logo_header">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="login_logo">
                    <a href="index.html"><img src="images/login_logo.png" alt="Department of Industries - Government of Bihar" title="Department of Industries - Government of Bihar" class="img-responsive" /></a>
                  </div>
                   <img src="images/emblem_ico.png" class="img-responsive emblem hidden-xs hidden-sm" alt="Emblem" title="Emblem" />
                </div>
              </div>
            </div>
    </div>
  </header>
</div>
<div class="container">
  <div class="row log_row">
            <div class="col-md-4 col-sm-12">
                <div class="loginbox1">
                        <div class="login_card">
                            <form name="form" ng-submit="vm.login()" role="form">
                                
                                <div class="form-group"><img src="images/single_window_logo.png" class="img-responsive login_top_img" alt="Emblem" title="Emblem"></div>
                              <div class="input-container" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                <input type="text" name="username" id="username" ng-model="vm.username" required/>
                                <label for="username">Username</label>
                                <div class="bar"></div>
                                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                              </div>
                              <div class="input-container" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                <input type="password" name="password" id="password" ng-model="vm.password" required/>
                                <label for="password">Password</label>
                                <div class="bar"></div>
                                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                              </div>
                              <div class="input-container"><a href="javascript:;" ng-click="vm.forgetPwd()" title="Forgot Password?" class="fgt_txt">Forgot Password?</a></div>
                              <div class="input-container">Not a register user? <a ui-sref="register" title="Register Now" class="fgt_txt">Register Now</a></div>
                              
                              <div class="form-group">
                                  <input type="submit" class="btn btn-primary loginbt" ng-disabled="form.$invalid || vm.dataLoading" style="width:100px;" value="Login" />
                                  <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                              </div>
                              <div class="loginmsg" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                            </form>
                          </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                      <div class="login_main_cont">                          
                          <div class="sub_head">Single Window Clearance System</div>
                          <p class="big_txt"><span>SWCS for industries is a concept to provide all entry level services to entrepreneurs,</span></p>
                          <p>with minimum interface with departments, in a transparent manner, within specified time leading to hassle free approvals. There is a provision for deemed approvals for certain clearances. Under the Single Window Act, Government have notified and constituted different Agencies /Committees for receiving, processing and monitoring of applications under Single Window Act.</p>
                      </div>
            </div>
            
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <ul class="login_footer_links">
                  <li><a href="" title="Overview">Overview</a></li>
                  <li><a href="" title="Departments">Departments</a></li>
                  <li><a href="" title="Service">Service</a></li>
                  <li class="no_bdr"><a href="" title="Contacts">Contacts</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
</div>