<div class="main_cont">
                          <div class="sub_head">Authority/Board/Corporation</div>
                          <p class="big_txt"><span>Bihar is one of the fastest growing states in India.</span> During the period 2005-06 to 2014-15, the GSDP of Bihar at constant prices grew annually at 10.5 percent, which is one of the highest among all major Indian states. </p>   
                          <div class="contact_wrap">  
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Bihar State Financial Corporation</div>
                                            <span class="contact_title">Shri Ravindra Prasad, MD</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0612-2332210</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  0612-2332364</span>
                                            <span class="contact_phone"><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:bsfcpatna@gmail.com" title="bsfcpatna@gmail.com">bsfcpatna@gmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Bihar State Credit & Investment Corporation (BICICO)</div>
                                            <span class="contact_title">Shri Ravindra Prasad, MD</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2547552</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:mdbicico@gmail.com" title="mdbicico@gmail.com">mdbicico@gmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Bihar Industrial Area Development Authority (BIADA)</div>
                                            <span class="contact_title">Shri R. S. Srivastav, MD</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675998</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675991</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ic.mumbai-bih@gov.in" title="ic.mumbai-bih@gov.in">biada@rediffmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">Industrial Development Authority</div>
                                            <span class="contact_title">Dr. S. Siddharth, MD</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675998</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2675991</span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          <div class="row hidden-xs hidden-sm">
                              <div class="col-md-12"><hr></div>
                          </div>
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Bihar State Industrial Development Corporation</div>
                                            <span class="contact_title"> Dr. S. Siddharth, MD</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 0612-2532165</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:bsidc_bsidc@rediffmail.com" title="dirhs_bihrediffmail.com">dirhs_bih@rediffmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Bihar State Handloom, Powerloom & Handicraft Corporation</div>
                                            <span class="contact_title">Shri B. N. Prasad, MD</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  99349-68119</span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">Bihar State Khadi & Village Industries Board</div>
                                            <span class="contact_title">Shri B. N. Prasad, CEO</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 99349-68119</span>
                                     </div>
                                </div>                                       
                            </div>
                          </div>
                      
                      </div>