<ul class="side_bar">
    <li><a ui-sref=".key-contacts" title="{{'key_contacts' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'key_contacts' | translate}}</a></li>
    <li><a ui-sref=".head-offices" title="{{'head_office' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'head_office' | translate}}</a></li>
    <li><a ui-sref=".dic" title="{{'dics' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'dics' | translate}}</a></li>
    <li><a ui-sref=".authority" title="{{'authority' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'authority' | translate}}</a></li>
</ul>

<div class="side_banner_img_1 overlay_txt">
            <span>Industrial Investment Promotion Policy</span>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="Download" class="sub_view">Download</a>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="View">View</a>
    </div>
    <div class="side_banner_img_2 overlay_txt">
            <span>Aao Bihar</span>
            <a href="media/best-practices/BP-Aao-Bihar.pdf" target="_blank" title="View">View</a>
    </div>