<ul class="side_bar">
    <li><a ui-sref=".key-contacts" title="Key Contacts" class="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Key Contacts</a></li>
    <li><a ui-sref=".head-offices" title="Head Office"><i class="fa fa-caret-right" aria-hidden="true"></i> Head Office</a></li>
    <li><a ui-sref=".dic" title="DICs"><i class="fa fa-caret-right" aria-hidden="true"></i> DICs</a></li>
    <li><a ui-sref=".authority" title="Authority / Board / Corp"><i class="fa fa-caret-right" aria-hidden="true"></i> Authority / Board / Corp</a></li>
</ul>

<div class="side_banner_img_1 overlay_txt">
        <span>Industrial Investment Promotion Policy</span>
        <a ui-sref="" title="Download" class="sub_view">Download</a>
        <a ui-sref="" title="View">View</a>
</div>
<div class="side_banner_img_2 overlay_txt">
        <span>Aao Bihar</span>
        <a ui-sref="" title="View">View</a>
</div>