<div class="main_cont">
                          <div class="sub_head">प्रमुख संपर्क</div>                         
                          <div class="contact_wrap">   
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">जय कुमार सिंह</div>
                                            <span class="contact_title">माननीय मंत्री</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 2215430, 2215431</span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">एस सिद्धार्थ</div>
                                            <span class="contact_title">आईएएस, प्रिंसिपल सेक्रेटरी</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215211</span>
                                            <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i> 2217991</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:prsecy.ind-bih@nic.in" title="prsecy.ind-bih@nic.in">prsecy.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">आर एस श्रीवास्तव</div>
                                            <span class="contact_title">आईआरएस, निवेश आयुक्त</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2675998</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ic.mumbai-bih@gov.in" title="ic.mumbai-bih@gov.in">ic.mumbai-bih@gov.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">प्रदीप कुमार</div>
                                            <span class="contact_title">आईईडीएस, अतिरिक्त सचिव.</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215301</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:addlsecy-ind-bih@gov.in" title="addlsecy-ind-bih@gov.in">addlsecy-ind-bih@gov.in</a></span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          <div class="row hidden-xs hidden-sm">
                              <div class="col-md-12"><hr></div>
                          </div>
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">साकेत कुमार</div>
                                            <span class="contact_title"> आईएएस, निदेशक (हथकरघा एवं रेशम उत्पादन) -कॉम- संयुक्त सचिव</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215637</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dirhs_bih@rediffmail.com" title="dirhs_bihrediffmail.com">dirhs_bih@rediffmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">पंकज कुमार सिंह</div>
                                            <span class="contact_title">आईपी ​​एंड टीएस, निदेशक (उद्योग)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2235812</span>
                                            <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  2215206</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dir.ind-bih@nic.in" title="dir.ind-bih@nic.in">dir.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">पंकज कुमार सिंह</div>
                                            <span class="contact_title">आईपी ​​एंड टीएस, निदेशक (खाद्य प्रसंस्करण)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215398</span>
                                            <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i> 2215851</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dir-fp.ind-bih@nic.in" title="dir-fp.ind-bih@nic.in">dir-fp.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">रविंद्र प्रसाद</div>
                                            <span class="contact_title">आईटीएस, निदेशक (तकनीकी विकास)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2215462</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dir-td.ind-bih@nic.in" title="prsecy.ind-bih@nic.in">dir-td.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          </div>
                      
                      </div>