<div class="main_cont">
                          <div class="sub_head">Key Contacts</div>
                          <p class="big_txt"><span>Bihar is one of the fastest growing states in India.</span> During the period 2005-06 to 2014-15, the GSDP of Bihar at constant prices grew annually at 10.5 percent, which is one of the highest among all major Indian states. </p>   
                          <div class="contact_wrap">   
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Jai Kumar Singh</div>
                                            <span class="contact_title">Hon'ble Minister</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> 2215430, 2215431</span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">S. Siddharth</div>
                                            <span class="contact_title">IAS, Principal Secretary</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215211</span>
                                            <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i> 2217991</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:prsecy.ind-bih@nic.in" title="prsecy.ind-bih@nic.in">prsecy.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">R. S. Srivastav</div>
                                            <span class="contact_title">IRS, Investment Commissioner</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2675998</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ic.mumbai-bih@gov.in" title="ic.mumbai-bih@gov.in">ic.mumbai-bih@gov.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">Pradeep Kumar</div>
                                            <span class="contact_title">IEDS, Additional Secretary.</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215301</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:addlsecy-ind-bih@gov.in" title="addlsecy-ind-bih@gov.in">addlsecy-ind-bih@gov.in</a></span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          <div class="row hidden-xs hidden-sm">
                              <div class="col-md-12"><hr></div>
                          </div>
                          <div class="row">
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Saket Kumar</div>
                                            <span class="contact_title"> IAS, Director (Handloom & Sericulture) -cum- Joint Secretary</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215637</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dirhs_bih@rediffmail.com" title="dirhs_bihrediffmail.com">dirhs_bih@rediffmail.com</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Pankaj Kumar Singh</div>
                                            <span class="contact_title">IP&TS, Director (Industries)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2235812</span>
                                            <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i>  2215206</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dir.ind-bih@nic.in" title="dir.ind-bih@nic.in">dir.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3 sep_border">
                                    <div class="contacts">
                                            <div class="contact_name">Pankaj Kumar Singh</div>
                                            <span class="contact_title">IP&TS, Director (Food Processing)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i> (0612)-2215398</span>
                                            <span class="contact_phone"><i class="fa fa-fax" aria-hidden="true"></i> 2215851</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dir-fp.ind-bih@nic.in" title="dir-fp.ind-bih@nic.in">dir-fp.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="contacts">
                                            <div class="contact_name">Ravindra Prasad</div>
                                            <span class="contact_title">ITS, Director (Technical Development)</span>
                                            <span class="contact_phone"><i class="fa fa-phone" aria-hidden="true"></i>  (0612)-2215462</span>
                                            <span class="contact_email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dir-td.ind-bih@nic.in" title="prsecy.ind-bih@nic.in">dir-td.ind-bih@nic.in</a></span>
                                     </div>
                                </div>
                                
                                
                            </div>
                          </div>
                      
                      </div>