<!--start of footer-->
		<div class="container-fluid">
		  <div class="row doi_footer">
		    <div class="container">
		      <div class="row">
		          <div class="col-md-8">
		              <ul class="icon_links">
		                  <li><a href="" title="Feeback"><i class="fa fa-envelope-o" aria-hidden="true"></i> Feeback</a></li>
		                  <li><a href="" title="RTI"><i class="fa fa-file-o" aria-hidden="true"></i> RTI</a></li>
		                  <li><a href="" title="Useful Websites"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Useful Websites</a></li>
		                  <li><a href="" title="Employee Login"><i class="fa fa-user" aria-hidden="true"></i> Employee Login</a></li>
		              </ul>
		              <ul>
		                  <li><a href="" title="Sitemap">Sitemap</a></li>
		                  <li><a href="" title="Legal Proceedings">Legal Proceedings</a></li>
		                  <li><a href="" title="RTI">RTI</a></li>
		                  <li><a href="" title="Accessibility Statement">Accessibility Statement</a></li>
		                  <li><a href="" title="Hyperlinking Policy">Hyperlinking Policy</a></li>
		                  <li><a href="" title="Privacy Policy">Privacy Policy</a></li>
		                  <li><a href="" title="Copyright Policy">Copyright Policy</a></li>
		                  <li><a href="" title="Feedback">Feedback</a></li>
		                  <li><a href="" title="Help">Help</a></li>
		              </ul>
		          </div>
		          <div class="col-md-4">
		              <img src="images/indian_gov.png" class="img-responsive ig_class" alt="Indian Governement" title="Indian Governement" />
		          </div>
		      </div>
		    </div>
		  </div>
		  <div id="back_top" style="display: block;">
		      <a title="Back to Top" class="effect" href="javascript:;"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
		  </div>
		  <div class="row site_footer">
		    <div class="container">
		      <!--<div class="row" style="display:none;">
		        <div class="col-md-6">&copy; 2017 CGSEDC, All Rights Reserved | Last Updated on: 4th Apr 2017</div>
		        <div class="col-md-6 text-right">Designed and Developed by ROLTA India Limited</div>
		      </div>-->
		      <div class="row">
		          <div class="col-md-12 text-center">
		              <span>Content owned by Department of Industries, Government of Bihar</span>
		          </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!--end of footer--> 