<div ng-controller="agricultureController as agrCntrl">
	<div  data-ng-include="'template/page-title-breadcrumb.html'"></div>

	<div class="container">
	  <div class="row cont_row">
	            <div class="col-md-12">
	                <div class="main_cont">
                          <div class="sub_head">Policies / Acts</div>                          
                                <div class="policy_wrap">  
                                        <a href="media/policies-acts/AD-01-01-09-2016.pdf" target="_blank" title="औद्योगिक निवेश संवर्धन नीति" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">औद्योगिक निवेश संवर्धन नीति <br/> <span class="date">17-03-2017</span></span>
                                        </a>
                                        <a href="media/policies-acts/Bihar-Startup-Policy-2017.pdf" target="_blank" title="
स्टार्टअप नीति" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">
स्टार्टअप नीति <br/> <span class="date">07-09-2016</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-26-03-2012.pdf" target="_blank" title="
संग्रहण खरीद अधिनियम 2012" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">
संग्रहण खरीद अधिनियम 2012 <br/> <span class="date">26-03-2012</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-15-07-2011.pdf" target="_blank" title="राज्य के त्वरित औद्योगिक विकास के लिए औद्योगिक प्रोत्साहन नीति, बिहार-2011." class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">राज्य के त्वरित औद्योगिक विकास के लिए औद्योगिक प्रोत्साहन नीति, बिहार-2011. <br/> <span class="date">15-07-2011</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-15-03-2011.pdf" target="_blank" title="भूमि रूपांतरण अधिनियम 2011" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">भूमि रूपांतरण अधिनियम 2011 <br/> <span class="date">15-03-2011</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-06-12-2007.pdf" target="_blank" title="
स्टोर खरीद प्राथमिकता नीति 2002" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">
स्टोर खरीद प्राथमिकता नीति 2002 <br/> <span class="date">06-12-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-16-04-2007.pdf" target="_blank" title="गन्ना अधिनियम 2007 - हिंदी" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">गन्ना अधिनियम 2007 - हिंदी <br/> <span class="date">16-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-16-04-2007.pdf" target="_blank" title="गन्ना अधिनियम 2007 - अंग्रेजी" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">गन्ना अधिनियम 2007 - अंग्रेजी <br/> <span class="date">16-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-09-04-2007.pdf" target="_blank" title="बिहार गन्ना (आपूर्ति और खरीद का नियमन) (संशोधन) विधेयक, 2007 - हिंदी" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">बिहार गन्ना (आपूर्ति और खरीद का नियमन) (संशोधन) विधेयक, 2007 - हिंदी <br/> <span class="date">09-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-09-04-2007.pdf" target="_blank" title="
बिहार गन्ना (आपूर्ति और खरीद का नियमन) (संशोधन) विधेयक, 2007 - अंग्रेजी" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">
बिहार गन्ना (आपूर्ति और खरीद का नियमन) (संशोधन) विधेयक, 2007 - अंग्रेजी <br/> <span class="date">09-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-19-12-2006.pdf" target="_blank" title="बिहार राज्य इन्फ्रास्ट्रक्चर डेवलपमेंट एक्टिंग एक्ट, 2006 - हिंदी" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">बिहार राज्य इन्फ्रास्ट्रक्चर डेवलपमेंट एक्टिंग एक्ट, 2006 - हिंदी <br/> <span class="date">19-12-2006</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-19-12-2006.pdf" target="_blank" title="बिहार राज्य इन्फ्रास्ट्रक्चर डेवलपमेंट एक्टिंग एक्ट, 2006 - अंग्रेजी" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">बिहार राज्य इन्फ्रास्ट्रक्चर डेवलपमेंट एक्टिंग एक्ट, 2006 - अंग्रेजी<br/> <span class="date">19-12-2006</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-16-04-2006.pdf" target="_blank" title="बिहार सिंगल विंडो क्लियरेंस एक्ट, 2006" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">बिहार सिंगल विंडो क्लियरेंस एक्ट, 2006<br/> <span class="date">16-04-2006</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-28-12-2016.pdf" target="_blank" title="औद्योगिक निवेश संवर्धन नियम" class="hse_struct no_bdr">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">औद्योगिक निवेश संवर्धन नियम<br/> <span class="date">28-12-2016</span></span>
                                        </a>
                                </div>
                      
                            </div>
	            </div>

	</div> 
</div> 
