<div ng-controller="agricultureController as agrCntrl">
	<div  data-ng-include="'template/page-title-breadcrumb.html'"></div>

	<div class="container">
	  <div class="row cont_row">
	            <div class="col-md-12">
	                <div class="main_cont">
                          <div class="sub_head">Policies / Acts</div>                          
                                <div class="policy_wrap">  
                                        <a href="media/policies-acts/AD-01-01-09-2016.pdf" target="_blank" title="Industrial Investment Promotion Policy" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Industrial Investment Promotion Policy <br/> <span class="date">17-03-2017</span></span>
                                        </a>
                                        <a href="media/policies-acts/Bihar-Startup-Policy-2017.pdf" target="_blank" title="Startup Policy" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Startup Policy <br/> <span class="date">07-09-2016</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-26-03-2012.pdf" target="_blank" title="Storage Purchase Act 2012" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Storage Purchase Act 2012 <br/> <span class="date">26-03-2012</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-15-07-2011.pdf" target="_blank" title="राज्य के त्वरित औद्योगिक विकास के लिए औद्योगिक प्रोत्साहन नीति, बिहार-2011." class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">राज्य के त्वरित औद्योगिक विकास के लिए औद्योगिक प्रोत्साहन नीति, बिहार-2011. <br/> <span class="date">15-07-2011</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-15-03-2011.pdf" target="_blank" title="Land Conversion Act 2011" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Land Conversion Act 2011 <br/> <span class="date">15-03-2011</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-06-12-2007.pdf" target="_blank" title="Stores Purchase Preference Policy 2002." class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Stores Purchase Preference Policy 2002. <br/> <span class="date">06-12-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-16-04-2007.pdf" target="_blank" title="Sugarcane Act 2007 - Hindi" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Sugarcane Act 2007 - Hindi <br/> <span class="date">16-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-16-04-2007.pdf" target="_blank" title="Sugarcane Act 2007 - English" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Sugarcane Act 2007 - English <br/> <span class="date">16-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-09-04-2007.pdf" target="_blank" title="Bihar Sugarcane (Regulation of Supply and Purchase) (Amendment) Bill, 2007 - Hindi" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Bihar Sugarcane (Regulation of Supply and Purchase) (Amendment) Bill, 2007 - Hindi <br/> <span class="date">09-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-09-04-2007.pdf" target="_blank" title="Bihar Sugarcane (Regulation of Supply and Purchase) (Amendment) Bill, 2007 - English" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Bihar Sugarcane (Regulation of Supply and Purchase) (Amendment) Bill, 2007 - English <br/> <span class="date">09-04-2007</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-02-19-12-2006.pdf" target="_blank" title="Bihar State Infrastructure Development Enabling Act, 2006 - Hindi" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Bihar State Infrastructure Development Enabling Act, 2006 - Hindi <br/> <span class="date">19-12-2006</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-19-12-2006.pdf" target="_blank" title="Bihar State Infrastructure Development Enabling Act, 2006 - English" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Bihar State Infrastructure Development Enabling Act, 2006 - English<br/> <span class="date">19-12-2006</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-16-04-2006.pdf" target="_blank" title="Bihar Single Window Clearance Act, 2006" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Bihar Single Window Clearance Act, 2006<br/> <span class="date">16-04-2006</span></span>
                                        </a>
                                        <a href="media/policies-acts/AD-01-28-12-2016.pdf" target="_blank" title="Industrial Investment Promotion Rules" class="hse_struct no_bdr">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Industrial Investment Promotion Rules<br/> <span class="date">28-12-2016</span></span>
                                        </a>
                                </div>
                      
                            </div>
	            </div>

	</div> 
</div> 
