
  <div class="main_cont">
      <img src="images/sub_banner_img.png" width="748" height="320" class="img-responsive" title="About Bihar" alt="About Bihar">
      <div class="sub_head">Department Functions</div>
      <ul>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Acts as the focal point of the industrialisation of the district.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Prepares the industrial profile of the district with respect to : Statistics and information about existing industrial units in the district in the large, Medium, small as well as co-operative sectors.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Opportunity guidance to entrepreneurs.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Compilation of information about local sources of raw materials and their availability.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Manpower assessment with respect to skilled, semi-skilled workers.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Assessment of availability of infrastructure facilities like quality testing, research and development, transport, prototype development, warehouse etc.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Organises entrepreneurship development training programs.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Provides information about various government schemes, subsidies, grants and assistance available from the other corporations set up for promotion of industries.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Gives SSI registration.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Prepares techno-economic feasibility report.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Advises the entrepreneurs on investments.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Acts as a link between the entrepreneurs and the lead bank of the district.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Implements government sponsored schemes for educated unemployed people like PMRY scheme, Jawahar Rojgar Yojana, etc.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Helps entrepreneurs in obtaining licenses from the Electricity Board, Water Supply Board, No Objection Certificates etc.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Assist the entrepreneur to procure imported machinery and raw materials.</li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> Organises marketing outlets in liaison with other government agencies.</li>
       </ul>
  </div>
