
  <div class="main_cont">
                          <div class="sub_head">Important Downloads</div>                          
                                <div class="downloads_wrap"> 
                                    <h2 class="ht_c2a_title">Applications</h2>
                                        <a href="media/downloads/AF-SIPB-Approval.pdf" target="_blank" title="Application Form for SIPB Approval" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application Form for SIPB Approval </span>
                                        </a>
                                        <a href="media/downloads/Stampduty-Exemption.pdf" target="_blank" title="Application for claiming Exemption of Stamp Duty & Registration Fee for the purchase of Industrial Plots" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application for claiming Exemption of Stamp Duty & Registration Fee for the purchase of Industrial Plots </span>
                                        </a>
                                        <a href="media/downloads/AF-PMEGP.pdf" target="_blank" title="Application for Financial Assistance under PMEGP" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application for Financial Assistance under PMEGP</span>
                                        </a>
                                        <a href="media/downloads/Grant-Approval-Hindi.pdf" target="_blank" title="Application for Grant - in Hindi" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application for Grant - in Hindi </span>
                                        </a>
                                        <a href="media/downloads/AF-DPR-Approval.pdf" target="_blank" title="Application for Preparation of DPR." class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application for Preparation of DPR</span>
                                        </a>
                                        <a href="media/downloads/AF-Weavers-Credit-Card.pdf" target="_blank" title="Application Form for Weaver's Credit Card (In Hindi)" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application Form for Weaver's Credit Card (In Hindi) </span>
                                        </a>
                                        <a href="media/downloads/AF-MGB-Yojna.pdf" target="_blank" title="Application Form for Mahatma Gandhi Weaver's Insurance Yojna" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application Form for Mahatma Gandhi Weaver's Insurance Yojna </span>
                                        </a>
                                        <a href="media/downloads/Application-Form-for-MSHV-Yojna.pdf" target="_blank" title="Application Form for Mukhyamantri Samekit Hastkargha Vikas Yojna" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Application Form for Mukhyamantri Samekit Hastkargha Vikas Yojna </span>
                                        </a>
                                    
                                    <h2 class="ht_c2a_title marg_tp_40">Check-Lists</h2>
                                        <a href="media/downloads/Check-List-DPR-Approval.pdf" target="_blank" title="Check-List of Documents: Preparation of DPR" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Check-List of Documents: Preparation of DPR</span>
                                        </a>
                                        <a href="media/downloads/Check-List-Grant-Approval.pdf" target="_blank" title="Check-List of Documents: Release of Grant" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Check-List of Documents: Release of Grant </span>
                                        </a>
                                        <a href="media/downloads/Check-List-SIPB-Approval.pdf" target="_blank" title="Check-List of Documents: SIPB Approval" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Check-List of Documents: SIPB Approval</span>
                                        </a>
                                    <h2 class="ht_c2a_title marg_tp_40">Guidelines</h2>
                                        <a href="media/downloads/Statutory-Format-of-Entrepreneurs-Memorandum-Ack-(English).pdf" target="_blank" title="Statutory Format of Entrepreneurs Memorandum (EM) Acknowledgement - [In English]" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Statutory Format of Entrepreneurs Memorandum (EM) Acknowledgement - [In English] </span>
                                        </a>
                                        <a href="media/downloads/Statutory-Format-of-Entrepreneurs-Memorandum-Ack-(Hindi).pdf" target="_blank" title="Statutory Format of Entrepreneurs Memorandum (EM) Acknowledgement - [In Hindi]" class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Statutory Format of Entrepreneurs Memorandum (EM) Acknowledgement - [In Hindi] </span>
                                        </a>
                                        <a href="media/downloads/SchemeInfo-NMFP-2013-17.pdf" target="_blank" title="Guidelines for continuation of NMFP during the remainder of XII Plan (2013-17) " class="hse_struct">
                                            <span><i class="fa fa-download" aria-hidden="true"></i></span> <span class="policy_title">Guidelines for continuation of NMFP during the remainder of XII Plan (2013-17) </span>
                                        </a>
                                </div>
</div>
