<!-- <div ng-controller="Controller as abt"> -->
	
<!-- <div class="opinionblk-wrapper">
	<div class="opinion-pollblk">
	  <h3>Opinion Poll</h3>
	  <h4 class="blueTxt">#355</h4>
	  <p>Lorem Ipsum has been the industry standard dummy text ever since the when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</p>

	  <div class="opn-optionsblk">
	  <form name="userForm" novalidate ng-controller="opinionController" class="form-horizontal" ng-submit="submitForm()">
	  	<div class="opinions-list customradiobtn" ng-class="{ 'has-error' : userForm.opinions.$invalid && !userForm.opinions.$pristine }">
		  
		  		<div class="opn-lst">
		        	<label class="radio-inline">
		            <input type="radio" name="opinions" id="" ng-model="user.opinions" required="" ng-value="o1">option 1</label>
		         </div>
		         <div class="opn-lst">
		        	<label class="radio-inline">
		            <input type="radio" name="opinions" id="" ng-model="user.opinions" required="" ng-value="o2">option 2</label>
		         </div>
		         <div class="opn-lst">
		        	<label class="radio-inline">
		            <input type="radio" name="opinions" id="" ng-model="user.opinions" required="" ng-value="o3">option 3</label>
		         </div>
		         <div class="opn-lst">
		        	<label class="radio-inline">
		            <input type="radio" name="opinions" id="" ng-model="user.opinions" required="" ng-value="o4">option 4</label>
		         </div>
		    
	    	</div>
	    	<a ui-sref="home" class="btn btn-primary">Cancel</a>
	      	<button class="btn btn-primary" id="opn-submit">Submit</button>
	   </form>
	</div>
	

	<div class="opn-resultblk" id="opinionResult">
		<div class="grid_col" ng-controller="opinionController">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors"> </canvas> 
        </div>
        <a ui-sref="home" class="btn btn-primary">Close</a>
	</div>
</div>

</div> -->
<!-- </div> -->
