<div ng-controller="agricultureController as agrCntrl">
	<div  data-ng-include="'template/page-title-breadcrumb.html'"></div>

	<div class="container">
	  <div class="row cont_row">
	            <div class="col-md-12">
	                <div class="main_cont">
                          <div class="sub_head">दिशा-निर्देश</div>                          
                                <div class="pdf_wrap">  
                                        <div class="row">
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-NMFP.pdf" target="_blank" class="cards" title="कार्यान्वयन के लिए दिशानिर्देश एनएमएफपी 2012-13">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-04.jpg" class="img-responsive" title="कार्यान्वयन के लिए दिशानिर्देश एनएमएफपी 2012-13" alt="कार्यान्वयन के लिए दिशानिर्देश एनएमएफपी 2012-13"></div>
                                                             <span class=" schemes_title">कार्यान्वयन के लिए दिशानिर्देश एनएमएफपी 2012-13 <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-NMFP-2013-17.pdf" target="_blank" class="cards" title="XII योजना (2013-17) के शेष के लिए एनएमएफपी दिशानिर्देश">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-06.jpg" class="img-responsive" title="XII योजना (2013-17) के शेष के लिए एनएमएफपी दिशानिर्देश" alt="XII योजना (2013-17) के शेष के लिए एनएमएफपी दिशानिर्देश"></div>
                                                             <span class=" schemes_title">XII योजना (2013-17) के शेष के लिए एनएमएफपी दिशानिर्देश <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-FoodIndustry.pdf" target="_blank" class="cards" title="खाद्य प्रसंस्करण उद्योग के लिए अवसर">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-03.gif" class="img-responsive" title="खाद्य प्रसंस्करण उद्योग के लिए अवसर" alt="खाद्य प्रसंस्करण उद्योग के लिए अवसर"></div>
                                                             <span class=" schemes_title">खाद्य प्रसंस्करण उद्योग के लिए अवसर <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/Scheme-Info.pdf" target="_blank" class="cards" title="अंतर्राष्ट्रीय व्यापार मेला, अनिवासी भारतीय दिवस, बिहार उत्सव आदि। ">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-02.gif" class="img-responsive" title="अंतर्राष्ट्रीय व्यापार मेला, अनिवासी भारतीय दिवस, बिहार उत्सव आदि। " alt="अंतर्राष्ट्रीय व्यापार मेला, अनिवासी भारतीय दिवस, बिहार उत्सव आदि। "></div>
                                                             <span class=" schemes_title">अंतर्राष्ट्रीय व्यापार मेला, अनिवासी भारतीय दिवस, बिहार उत्सव आदि।  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-MSHVY.pdf" target="_blank" class="cards" title="मुख्यमंत्रीमंडल के दिशा निर्देशों के लिए दिशा-निर्देश है">

                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-07.jpg" class="img-responsive" title="मुख्यमंत्रीमंडल के दिशा निर्देशों के लिए दिशा-निर्देश है" alt="मुख्यमंत्रीमंडल के दिशा निर्देशों के लिए दिशा-निर्देश है"></div>
                                                             <span class=" schemes_title">मुख्यमंत्रीमंडल के दिशा निर्देशों के लिए दिशा-निर्देश है  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-HHP-Marketing.pdf" target="_blank" class="cards" title="हथकरघा एवं हस्तशिल्प उत्पाद का विपणन">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-10.jpg" class="img-responsive" title="हथकरघा एवं हस्तशिल्प उत्पाद का विपणन" alt="हथकरघा एवं हस्तशिल्प उत्पाद का विपणन"></div>
                                                             <span class=" schemes_title">हथकरघा एवं हस्तशिल्प उत्पाद का विपणन<i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>                                            
                                        </div>

                                </div>
                      
</div>

                                </div>
                      
                            </div>
	            </div>

	</div> 
</div> 
