<div ng-controller="agricultureController as agrCntrl">
	<div  data-ng-include="'template/page-title-breadcrumb.html'"></div>

	<div class="container">
	  <div class="row cont_row">
	            <div class="col-md-12">
	                <div class="main_cont">
                          <div class="sub_head">Guidelines</div>                          
                                <div class="pdf_wrap">  
                                        <div class="row">
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-NMFP.pdf" target="_blank" class="cards" title="Guidelines for Implementation NMFP 2012-13">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-04.jpg" class="img-responsive" title="Guidelines for Implementation NMFP 2012-13" alt="Guidelines for Implementation NMFP 2012-13"></div>
                                                             <span class=" schemes_title">Guidelines for Implementation NMFP 2012-13 <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-NMFP-2013-17.pdf" target="_blank" class="cards" title="NMFP Guidelines for remainder of XII Plan (2013-17)">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-06.jpg" class="img-responsive" title="NMFP Guidelines for remainder of XII Plan (2013-17)" alt="NMFP Guidelines for remainder of XII Plan (2013-17)"></div>
                                                             <span class=" schemes_title">NMFP Guidelines for remainder of XII Plan (2013-17) <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-FoodIndustry.pdf" target="_blank" class="cards" title="Opportunities for Food Processing Industry">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-03.gif" class="img-responsive" title="Opportunities for Food Processing Industry" alt="Opportunities for Food Processing Industry"></div>
                                                             <span class=" schemes_title">Opportunities for Food Processing Industry <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/Scheme-Info.pdf" target="_blank" class="cards" title="International Business Fair, NRI Day, Bihar Utsav, etc. ">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-02.gif" class="img-responsive" title="International Business Fair, NRI Day, Bihar Utsav, etc. " alt="International Business Fair, NRI Day, Bihar Utsav, etc. "></div>
                                                             <span class=" schemes_title">International Business Fair, NRI Day, Bihar Utsav, etc.  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-MSHVY.pdf" target="_blank" class="cards" title="Guidelines for Mukhyamantri Samekit Hastkargha Vikas Yojna">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-07.jpg" class="img-responsive" title="Guidelines for Mukhyamantri Samekit Hastkargha Vikas Yojna" alt="Guidelines for Mukhyamantri Samekit Hastkargha Vikas Yojna"></div>
                                                             <span class=" schemes_title">Guidelines for Mukhyamantri Samekit Hastkargha Vikas Yojna  <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                            </div>
                                            <div class="col-md-4">
                                                        <a href="media/schemes/SchemeInfo-HHP-Marketing.pdf" target="_blank" class="cards" title="Marketing of Handloom & Handicraft Products ">
                                                             <div class="schemes_img"><img src="images/schemes/SM-Industry-10.jpg" class="img-responsive" title="Marketing of Handloom & Handicraft Products " alt="Marketing of Handloom & Handicraft Products "></div>
                                                             <span class=" schemes_title">Marketing of Handloom & Handicraft Products <i class="fa fa-download media-download" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                            </div>                                            
                                        </div>

                                </div>
                      
                            </div>
	            </div>

	</div> 
</div> 
