
    <ul class="side_bar">
        <li><a ui-sref=".overview" title="Overview" class="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Overview</a></li>
        <li><a ui-sref=".department-functions" title="Department Functions"><i class="fa fa-caret-right" aria-hidden="true"></i> Department Functions</a></li>
        <li><a ui-sref=".organizational-structure" title="Organizational Structure"><i class="fa fa-caret-right" aria-hidden="true"></i> Organizational Structure</a></li>
        <li><a ui-sref=".best-practices" title="Best Practices"><i class="fa fa-caret-right" aria-hidden="true"></i> Best Practices</a></li>
    </ul>
    
    <div class="side_banner_img_1 overlay_txt">
            <span>Industrial Investment Promotion Policy</span>
            <a href="" title="Download" class="sub_view">Download</a>
            <a href="" title="View">View</a>
    </div>
    <div class="side_banner_img_2 overlay_txt">
            <span>Aao Bihar</span>
            <a href="" title="View">View</a>
    </div>

