
    <ul class="side_bar">
        <li><a ui-sref=".overview" title="{{'overview' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'overview' | translate}}</a></li>
        <li><a ui-sref=".department-functions" title="{{'department_funtions' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'department_funtions' | translate}}</a></li>
        <li><a ui-sref=".organizational-structure" title="{{'org_structure' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'org_structure' | translate}}</a></li>
        <li><a ui-sref=".citizen-charter" title="{{'citizen_charter' | translate}}" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> {{'citizen_charter' | translate}}</a></li>
    </ul>
    
    <div class="side_banner_img_1 overlay_txt">
            <span>Industrial Investment Promotion Policy</span>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="Download" class="sub_view">Download</a>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="View">View</a>
    </div>
    <div class="side_banner_img_2 overlay_txt">
            <span>Aao Bihar</span>
            <a href="media/best-practices/BP-Aao-Bihar.pdf" target="_blank" title="View">View</a>
    </div>

