
  <div class="main_cont">
      <div class="sub_head">Best Practices</div>
                        <div class="gallery">
                            <ul id="da-thumbs" class="da-thumbs">
                                          <li>
                                                  <a href="http://www.shivramashram.org/images/img/gal10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                          <img src="http://www.shivramashram.org/images/img/gal10.jpg" alt="" class="img-responsive">
                                                          <div>
                                                                  <h5>Education</h5>
                                                                  <span>If a child cannot learn in the way we teach, we must teach in a way the child can learn</span>
                                                          </div>
                                                  </a>
                                          </li>
                                          <li>
                                                  <a href="http://www.shivramashram.org/images/img/gal10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                          <img src="http://www.shivramashram.org/images/img/gal10.jpg" alt="" class="img-responsive">
                                                          <div>
                                                                  <h5>Education</h5>
                                                                  <span>Mistakes are proof that you are trying</span>
                                                          </div>
                                                  </a>
                                          </li> 
                            </ul>
                          </div>
  </div>
