<div class="main_cont">
                          <div class="sub_head">Authority/Board/Corporation</div>
                          <p class="big_txt"><span>Bihar is one of the fastest growing states in India.</span> During the period 2005-06 to 2014-15, the GSDP of Bihar at constant prices grew annually at 10.5 percent, which is one of the highest among all major Indian states. </p>   
                                <div class="pdf_wrap">  
                                        <div class="row">
                                            <div class="col-md-3 sep_border">
                                                <div class="contacts">
                                                        <div class="contact_name">Bihar State Financial Corporation</div>
                                                        
                                                 </div>
                                            </div>
                                            


                                        </div>

                                </div>
                      
</div>