
    <ul class="side_bar">
        <li><a ui-sref=".overview" title="Overview" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Overview</a></li>
        <li><a ui-sref=".department-functions" title="Department Functions" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Department Functions</a></li>
        <li><a ui-sref=".organizational-structure" title="Organizational Structure" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Organizational Structure</a></li>
        <li><a ui-sref=".best-practices" title="Best Practices" ui-sref-active="active"><i class="fa fa-caret-right" aria-hidden="true"></i> Best Practices</a></li>
    </ul>
    
    <div class="side_banner_img_1 overlay_txt">
            <span>Industrial Investment Promotion Policy</span>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="Download" class="sub_view">Download</a>
            <a href="media/best-practices/BP-Industrial-Development-in-Bihar.pdf" target="_blank" title="View">View</a>
    </div>
    <div class="side_banner_img_2 overlay_txt">
            <span>Aao Bihar</span>
            <a href="media/best-practices/BP-Aao-Bihar.pdf" target="_blank" title="View">View</a>
    </div>

