<uib-accordion close-others="oneAtATime" ng-controller="AccordionDemoCtrl">
		
	    <!-- <div uib-accordion-group class="panel-default" ng-repeat="group in groups" is-open="group.opened">
	      <uib-accordion-heading>
	        {{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.opened, 'glyphicon-chevron-right': !group.opened}"></i>
	      </uib-accordion-heading>
	      {{group.content}}
	    </div> -->



	    <div uib-accordion-group class="panel-default" ng-repeat="group in groups" is-open="group.opened" template-url="group-template.html">
	      <uib-accordion-heading>
	        {{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.opened, 'glyphicon-chevron-right': !group.opened}"></i>
	      </uib-accordion-heading>
	      	{{group.content}}
	    </div>

</uib-accordion>

<script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" ng-click="toggleOpen()" style="cursor: pointer">
        <a href tabindex="0" class="accordion-toggle"  uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
    </div>
  </script>